APP_NAME="Rimba Haven API"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000
FRONTEND_URL=http://localhost:5173

DB_CONNECTION=sqlite
DB_DATABASE=${DB_DATABASE:-database/database.sqlite}

BOOKING_BREAKFAST_FEE=80000
BOOKING_BREAKFAST_FLAT=true
